.mainViewContainer{
    display: flex;
    padding-top: 10px;
    .productListContainer{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        width: 65%;
        padding: none;
  
    }
}